@import "variables";

nav {
    & .navigation_bar {
        display: block;
        background-color: $secondary-color-lighter;
        padding: 0;
        position: relative;

        &__item {
            padding: 15px 50px;
            display: inline-block;
            cursor: pointer;

            &:hover {
                background-color: $main-color-lighter;
            }

            &--logout {
                position: absolute;
                right: 0;
            }
        }

        &__link {
            display: block;
            width: 100%;
            height: 100%;
            color: $main-color-darkner;
            text-decoration: none;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bolder;
        }
    }

    & .nav-drop-project {
        position: relative;

        &::after {
            content: url(#{$imgPath}/drop_arrow.png);
            width: 5px;
            height: 5px;
            object-fit: cover;
            position: absolute;
        }

        &__list {
            z-index: 999;
            position: absolute;
            width: inherit;
            display: none;
            padding: 0;
            left: 0;
            bottom: -100px;
            background-color: $main-color-lighter;
        }

        &__item {
            display: block;
            width: 100%;

            &:hover {
                background-color: $secondary-color-lighter;
            }
        }

        &:hover {
            & .nav-drop-project__list {
                display: block;
            }
        }
    }
}

