@import 'variables';
@import 'mixins';

@import 'nav';
@import 'kanban';
@import 'posts';
@import 'comments';
@import 'sudoku';


* {
    box-sizing: border-box;
}

.main-page__title {
    text-align: center;
    color: $secondary-color-darkner;
}

.flash_message {
    &__message {
    }
}

.pagination {
    &__pages {

        padding: 0 5px;
        color: $secondary-color-darkner;

        &.active {
            background-color: $main-color-lighter;
            font-size: calc(100% + 2px);
        }
    }
}


.nav-tabs {
    position: relative;
}

