@import 'nav';
@import 'variables';
@import 'kanban';
@import 'posts';
@import 'comments';

* {
    box-sizing: border-box;
}

.main-page__title {
    text-align: center;
    color: $secondary-color-darkner;
}

.flash_message {
    &__message {
    }
}

.pagination {
    &__pages {
    }
}


.nav-tabs {
    position: relative;
}

