@import 'nav';
@import 'variables';


* {
    box-sizing: border-box;
}

.flash_message {
    &__message {
    }
}

.pagination {
    &__pages {
    }
}

.add_post {
    &__btn {
        position: absolute !important;
        right: 0;
        background-color: $button-background-color;
        border-radius: 4px 4px 0 0;

        & > a {
            color: $d;
            margin-right: 0 !important;

            &:hover {
                background-color: $button-background-hover !important;
            }
        }

        &:hover {
            background-color: $button-background-hover !important;
        }
    }

    &__form {
        &--hide {
            display: none;
        }
    }
}

.comments {
    margin-left: 30px;
    display: none;

    &__comment {
        border: 1px solid black;

        &:nth-child(odd) {
            background-color: gray;
        }
    }
}

.kanban {
    display: flex;

    &__table {
        flex: 1;
        min-height: 200px;
        margin: 10px 0;
        border: 1px solid green;
    }
    &__title {
        text-align: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border: 1px solid green;
            width: 90%;
            left: 5%;
            bottom: 0;
        }
    }
}

.drag_task {
    width: 80%;
    min-height: 50px;
    margin: 0 auto;
    border: 1px solid blueviolet;
    background-color: cadetblue;
    position: relative;
}

.task_delete {
    cursor: pointer;
    border: 1px solid orange;
    position: absolute;
    right: 5px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
}

.posts {
    &--add {
        opacity: 0.5;
    }
}

.post {
    position: relative;

    &__title {
        margin-top: 0;
        padding-top: 15px;
    }

    &__content {
    }

    &__author {
        &--bold {
            font-weight: bold;
        }
    }

    &__time {
    }

    &__del_btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: red;
        opacity: 0.7;
        color: $black;
    }
}

.nav-tabs {
    position: relative;
}

.add_task {
    &__btn {
        position: absolute !important;
        right: 0;
        background-color: $button-background-color;
        border-radius: 4px 4px 0 0;

        & > a {
            color: $d;
            margin-right: 0 !important;

            &:hover {
                background-color: $button-background-hover !important;
            }
        }

        &:hover {
            background-color: $button-background-hover !important;
        }
    }
    &__form {
        &--hide {
            display: none;
        }
    }
}
