{% import 'bootstrap/wtf.html' as wtf %}

<div class="post">
    {% if post.title %}
    <h2>{{ post.title }}</h2>
    {% else %}
    <h2>Bez tematu</h2>
    {% endif %}
    {% if current_user.superuser %}
    <button id="del_btn{{ post.id }}" class="del_btn">Delete</button>
    {% endif %}
    <div class="post-content">
        {{ post.content }}
    </div>
    <p>{{ post.author.username }} <span>{{ post.time.strftime('%A %-d-%m-%Y %H:%M') }}</span></p>
    {% if post.comments %}
    <button class="show_comments" id='b{{ post.id }}'>Show comments</button>
    <div class="comments" id='c{{ post.id }}'>
        {% for comment in post.comments %}
        <div class="comment">
            <h4>{{ comment.author }}</h4>
            <p>{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {{ wtf.quick_form(comment_form, action='/post_handler/'~post.id, id=post.id) }}

</div>