{% extends 'bootstrap/base.html' %}

{% block title %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock %}

{% block navbar %}
<div class="container">
  <nav>
    <ul class="navigation_bar">
      <li class="navigation_bar__item">
        <a class="navigation_bar__link" aria-current="page" href="{{ url_for('index') }}">Home</a>
      </li>
      {% if not current_user.is_authenticated %}
      <li class="navigation_bar__item">
        <a class="navigation_bar__link" href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="navigation_bar__item">
        <a class="navigation_bar__link" href="{{ url_for('register') }}">Register</a>
      </li>
      {% else %}
      {% if current_user.is_active %}
      <li class="navigation_bar__item nav-drop-project">
        <a class="navigation_bar__link" href="{{ url_for('kanban.index') }}">Todo</a>
        {% if current_user.project %}
          <ul class="nav-drop-project__list">
            {% for project in current_user.project %}
            <li class="nav-drop-project__item navigation_bar__item">
              <a class="navigation_bar__link" href="{{ url_for('kanban.index', project=project.name) }}">{{ project.name }}</a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% endif %}
      <li class="navigation_bar__item">
        <a href="{{ url_for('user_page', user=current_user.username) }}" class="navigation_bar__link">{{ current_user.username }}</a>
      </li>
      {% if current_user.superuser %}
      <li class="navigation_bar__item">
        <a class="navigation_bar__link" href="{{ url_for('features') }}">Features</a>
      </li>
      {% endif %}
      <li class="navigation_bar__item navigation_bar__item--logout">
        <a href="{{ url_for('logout') }}" class="navigation_bar__link">Wyloguj</a>
      </li>
      {% endif %}
    </ul>

  </nav>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
{% endblock %}