{% import 'bootstrap/wtf.html' as wtf %}

{% extends 'base.html' %}


{% block content %}
{% set project = request.args.project %}
<div class="container">
    <ul class="nav nav-tabs">
    {% for proj in projects %}
    <li class="nav-item">
        <a href="{{ url_for('kanban.index', project=proj.name) }}">{{ proj.name.capitalize() }}</a>
    </li>
        {% endfor %}
        <li class="nav-item add_task__btn">
            <a class='nav-link'>Add task</a>
        </li>
</ul>
   
    <div class="add_task__form add_task__form--hide">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="kanban">
        {% for table in tables %}
        <div class="kanban__table">
            <h3 class="kanban__title">{{ table.name.capitalize() }}</h3>
            {% for task in table.tasks %}
            {% if task.project.name == project %}
            {% include '_task.html' %}
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}