{% import 'bootstrap/wtf.html' as wtf %}

{% extends 'base.html' %}


{% block content %}
{% set project = request.args.project %}
<div class="container">
    {% for proj in projects %}
        <a href="{{ url_for('todo.index', project=proj.name) }}">{{ proj.name.capitalize() }}</a>
    {% endfor %}
    <button id='add_task__btn'>Add task</button>
    <div class="add_task__form">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="kanban">
        {% for table in tables %}
        <div class="kanban__table">
            <h3 class="kanban__title">{{ table.name.capitalize() }}</h3>
            {% for task in table.tasks %}
            {% if task.project.name == project %}
            {% include '_task.html' %}
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}